<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]  user Quản Lí Nhân Sự</title>
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="~/css/style_layout-user.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-buildings'></i>
            <span class="logo_name">HRM VNUA</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Trang chủ</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Trang chủ</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-file-blank'></i>
                        <span class="link_name">Hồ sơ của tôi</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Hồ sơ của tôi</a></li>
                    <li><a href="#">Thông tin cá nhân</a></li>
                    <li><a href="#">Giấy tờ cá nhân</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-money'></i>
                        <span class="link_name">Lương thưởng</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Lương thưởng</a></li>
                    <li><a href="#">Lương bổng</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-open'></i>
                        <span class="link_name">Thủ tục văn thư</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Thủ tục văn thư</a></li>
                    <li><a href="#">Đơn từ</a></li>
                    <li><a href="#">Hợp đồng</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-support'></i>
                    <span class="link_name">Hỗ trợ</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Hỗ trợ</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-bell'></i>
                    <span class="link_name">Thông báo</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Thông báo</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="~/image/Engineerava.jpg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Engineer</div>
                        <div class="job">make sentry</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Wellcome home!</span>
        </div>
    </section>
    <main>
        @RenderBody()
    </main>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>
