@model VNUA.FITA.MQTT.HRM.Data.Model.DonTu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime date = new DateTime();

}
<div class="container-fluid">
    <h1 class="mt-4">Gửi đơn mới</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item">Gửi đơn mới</li>
    </ol>
</div>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label">Tiêu đề</label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanLoai" class="control-label">Phân loại</label>
                <select asp-for="PhanLoai" class="form-control">
                    <option value="1">Đơn xin từ chức</option>
                    <option value="2">Đơn xin nghỉ phép </option>
                    <option value="3">Đơn xin chuyển bộ phận </option>
                   
                </select>
                <span asp-validation-for="PhanLoai" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="TrangThai" class="control-label" hidden></label>
                <input asp-for="TrangThai" class="form-control" value="Chờ duyệt"  hidden/>
                <span asp-validation-for="TrangThai" class="text-danger" hidden></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GhiChu" class="control-label" hidden>Ghi chú</label>
                <input asp-for="GhiChu" class="form-control" / hidden>
                <span asp-validation-for="GhiChu" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiNhan" class="control-label">Người nhận</label>
                <select asp-for="NguoiNhan" class="form-control" asp-items="ViewBag.HoTen"></select>
                <span asp-validation-for="NguoiNhan" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" >
                <label asp-for="NoiDung" class="control-label">Nội dung</label>
                <textarea asp-for="NoiDung" class="form-control"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label">Thời gian</label>
                <input asp-for="ThoiGian" class="form-control" value="@DateTime.Now" type="datetime"/>
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdNhanVien" class="control-label"></label>
                <select asp-for="IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Gửi đi" class="btn btn-primary" />
                <button class="btn btn-danger" asp-action="Danhsachdontu" value="Hủy">Hủy</button>
            </div>
            
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
