@model VNUA.FITA.MQTT.HRM.Data.Model.DonTu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Sửa đơn từ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active"> Lịch sử đơn đã gửi</li>
        <li class="breadcrumb-item active"> @Html.DisplayFor(model => model.TieuDe) + @(Html.DisplayFor(model => model.IdDonTu)) </li>
    </ol>
</div>
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDonTu" />
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label">Tiêu đề</label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <input asp-for="TrangThai" class="form-control"  hidden />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="GhiChu" class="control-label">Ghi chú</label>
                <input asp-for="GhiChu" class="form-control" hidden/>
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiNhan" class="control-label">Người nhận</label>
                <select asp-for="NguoiNhan" class="form-control" asp-items="ViewBag.HoTen"></select>
                <span asp-validation-for="NguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanLoai" class="control-label">Phân Loại</label>
                <select asp-for="PhanLoai" class="form-control">
                    <option value="1">Giấy đề nghị tăng ca</option>
                    <option value="2">đơn đề xuất tăng lương</option>
                    <option value="3">Giấy đề nghị thanh toán</option>
                </select>
                <span asp-validation-for="PhanLoai" class="text-danger"></span>
            </div>
            
        </div>
        <div class="form-group" hidden>
            <label asp-for="IdNhanVien" class="control-label"></label>
            <select asp-for="IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
            <span asp-validation-for="IdNhanVien" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label">Thời gian</label>
                <input asp-for="ThoiGian" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group" style="height:200px;">
                <label asp-for="NoiDung" class="control-label">Nội dung</label>
                <textarea asp-for="NoiDung" class="form-control"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:50px;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button class="btn btn-danger" asp-action="Danhsachdontu" value="Hủy">Hủy</button>
            </div>
        </div>
        </div>

</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
