
@{
    ViewData["Title"] = "BaoLoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.04);
        border-radius: .25rem;
    }

    .card .card-header {
        background-color: #fff;
        border-bottom: none;
        color:red;
        display:inline;
     }
 </style>
<div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
            <div class="card-header display-1 text-muted text-center">
                 Dont Have Forbidden Access
            </div>

            <span class="card-subtitle mb-2 text-muted text-center" >
               Bạn không có quyền truy cập
            </span>

            <div class="card-body mx-auto">
                <a type="button" asp-action="Index" asp-controller="Home" 
                   class="btn btn-sm btn-info text-white">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>

