@model VNUA.FITA.MQTT.HRM.Data.Model.ChamCong

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Chấm Công</a></li>
        <li class="breadcrumb-item active">Thực hiện chấm công</li>
    </ol>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdNhanVien" class="control-label">Nhân Viên</label>
                    <select asp-for="IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ThoiGian" class="control-label">Thời Gian</label>
                    <input asp-for="ThoiGian" class="form-control" value="@DateTime.Now.ToString("dddd,dd/MM/yyyy h:mm tt")" type="datetime" />
                    <span asp-validation-for="ThoiGian" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TrangThai" class="control-label">Trạng Thái</label><br />
                    <div class="row">
                        <div class="form-group form-inline">
                            <input asp-for="TrangThai" class="form-control" type="checkbox" id="check1" value="Có mặt" onclick="myFunction(this)" />
                            <label class="form-check-label" asp-for="TrangThai">:Có mặt</label>
                        </div>
                        <div class="form-group form-inline">
                            <input asp-for="TrangThai" class="form-control" type="checkbox" id="check2" value="Vắng" onclick="myFunction(this)" />
                            <label class="form-check-label" asp-for="TrangThai">:Vắng</label>

                        </div>
                        <div class="form-group form-inline">
                            <input asp-for="TrangThai" class="form-control" type="checkbox" id="check3" value="Chưa chấm công" checked onclick="myFunction(this)" />
                            <label class="form-check-label" asp-for="TrangThai">:Chưa chấm công</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="GhiChu" class="control-label">Ghi Chú</label>
                    <textarea asp-for="GhiChu" class="form-control"></textarea>
                    <span asp-validation-for="GhiChu" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Chấm công" class="btn btn-outline-primary btn-sm" /> |
            <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Trở lại danh sách</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function myFunction(element) {
        var checkBox = document.getElementById("check1");
        var checkBox2 = document.getElementById("check2");
        var checkBox3 = document.getElementById("check3");


        if (element === checkBox && checkBox.checked) {
            checkBox2.checked = false;
            checkBox3.checked = false;
            return;
        }
        if (element === checkBox2 && checkBox2.checked) {
            checkBox3.checked = false;
            checkBox.checked = false;
            return;
        }
        if (element === checkBox3 && checkBox3.checked) {
            checkBox2.checked = false;
            checkBox.checked = false;
            return;
        }
    }
</script>
