@model VNUA.FITA.MQTT.HRM.Data.Model.GiayTo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Bổ sung giấy tờ</h1>

<h4 style="text-align:center;">Bổ sung giấy tờ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenGT" class="control-label"></label>
                <input asp-for="TenGT" class="form-control" />
                <span asp-validation-for="TenGT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" type="file" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label"></label>
                <input asp-for="ThoiGian" class="form-control" value="@DateTime.Now.Date" type="datetime"/>
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label" hidden></label>
                <input asp-for="TrangThai" class="form-control" value="Chờ xét duyệt" hidden/>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNhanVien" class="control-label"></label>
                <select asp-for="IdNhanVien" class ="form-control" asp-items="ViewBag.IdNhanVien"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
