@model VNUA.FITA.MQTT.HRM.Data.Model.Luong

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Luong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLuong" />
            <div class="form-group">
                <label asp-for="LCoBan" class="control-label"></label>
                <input asp-for="LCoBan" class="form-control" />
                <span asp-validation-for="LCoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeSo" class="control-label"></label>
                <input asp-for="HeSo" class="form-control" />
                <span asp-validation-for="HeSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhiPhat" class="control-label"></label>
                <input asp-for="PhiPhat" class="form-control" />
                <span asp-validation-for="PhiPhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhiThue" class="control-label"></label>
                <input asp-for="PhiThue" class="form-control" />
                <span asp-validation-for="PhiThue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LThucNhan" class="control-label"></label>
                <input asp-for="LThucNhan" class="form-control" />
                <span asp-validation-for="LThucNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label"></label>
                <input asp-for="ThoiGian" class="form-control" />
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNhanVien" class="control-label"></label>
                <select asp-for="IdNhanVien" class="form-control" asp-items="ViewBag.IdNhanVien"></select>
                <span asp-validation-for="IdNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
