
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = "Lê Đức Mạnh";
    <h4>xin chào @username</h4>
}

<h2 class="text-black-50" style="text-align:center;"><b>Bổ sung giấy tờ</b></h2>
