@model VNUA.FITA.MQTT.HRM.Data.Model.NhanVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Tài Khoản</a></li>
        <li class="breadcrumb-item active">Tạo tài khoản</li>
    </ol>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MaNhanVien" class="control-label"></label>
                    <select asp-for="MaNhanVien" class="form-control" asp-items="ViewBag.MaNhanVien"></select>
                    <span asp-validation-for="MaNhanVien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SDT" class="control-label"></label>
                    <input asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TenTaiKhoan" class="control-label"></label>
                    <input asp-for="TenTaiKhoan" class="form-control" data-val="true" data-val-required="Tài khoản hợp lệ" />
                    <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label"></label>
                    <input asp-for="MatKhau" class="form-control" data-val="true" data-val-required="Mật khẩu hợp lệ" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhanQuyen" class="control-label"></label>
                    <select asp-for="PhanQuyen" class="form-control">
                        <option value="1">Nhân Viên</option>
                        <option value="2">Nhân Sự</option>
                        <option value="3">Trưởng Phòng</option>
                        <option value="4">Quản Trị Hệ Thống</option>
                    </select>
                    <span asp-validation-for="PhanQuyen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChucVu" class="control-label"></label>
                    <input asp-for="ChucVu" class="form-control" />
                    <span asp-validation-for="ChucVu" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="IdBP" class="control-label"></label>
                    <select asp-for="IdBP" class="form-control" asp-items="ViewBag.IdBP"></select>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Tạo Tài Khoản" class="btn btn-outline-primary btn-sm" /> |
                <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Trở lại danh sách</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}