@model VNUA.FITA.MQTT.HRM.Data.Model.NhanVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo Tài Khoản Cho Nhân Viên</h1>

<h4>Nhập Thông Tin Dưới Đây</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="TenTaiKhoan" class="control-label"></label>
                <input asp-for="TenTaiKhoan" class="form-control" />
                <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanQuyen" class="control-label"></label>
                <input asp-for="PhanQuyen" class="form-control"  />
                <span asp-validation-for="PhanQuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Tài Khoản" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Quay Lại Danh Sách Tài Khoản</a>
            </div>
        </div>
    </div>
</form>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
